/* GLOBAL RULES  */
.row { max-width: 65rem; padding: 30px 0 20px; }
body { color: #FFF; }
.small { 
	font-size: 20px !important;
	letter-spacing: 0px !important;
}

/* HEADER RULES  */
.panel { 
	border: none; 
	background-color: transparent;
	text-align: center;
	margin-bottom: 0; 
	padding: 0;
}
.header .panel h1 { 
	background-color: #000000; 
	padding: 10px; 
	margin-bottom: 0;
}
.header .panel h1 , .header .panel p { 
	color: #FFFFFF;  	
	display: inline-block;
}
.header .panel p {
	font-weight: bold;
	font-size: 40px;
	letter-spacing: -2px;
	margin-bottom: 0;
}

/* MAIN CONTENT RULES  */
.main h2 { 
	background-color: #000000; 
	padding: 10px; 
	color: #FFFFFF; 
	letter-spacing: -1px; 
	font-size: 25px; 
	text-align: center; 
	margin: 0;
	margin-bottom: 15px;
}
.button { 
	border: solid 2px #FFF;
	background-color: transparent; 
	margin-bottom: 1.25rem;
	width: 100%;
}
.button:hover, .button:focus, .button:focus {
    background-color: #939393; 
}

@media only screen and (min-width: 857px) {
	.main form { 
		text-align: center;
	}
	.main form p { 
		display: inline;
	}
	#numberGays { 
	 	width: 15%;
		display: inline-block;  	
	}
	#selectGay { 
		width: 50%;
	 }
	#numberGays, #selectGay {
		margin: 0 15px;
	}
	.button { 
		width: 156px; 
		margin-bottom: 0;
	}
}

/* OUTCOME RULES  */
.outcome { 
	border: solid 2px #FFF; 
	width: 100%;
	height: auto;
	padding: 20px;
	margin-bottom: 15px;
}

