/* GLOBAL RULES  */
body { color: #000; font-family: Raleway, sans-serif; }
.row { padding: 0 0 20px; max-width: 65rem; }
.header { padding-top: 25px; }
.small { font-size: 20px !important; letter-spacing: 0px !important; padding-bottom: 0 !important; }

/* HEADER RULES  */
.panel { 
	background-color: transparent;
	margin-bottom: 0; 
	padding: 20px;
	margin-bottom: 15px;
	border: 3px dashed #707070;
}
.header .panel h1 { 
	margin-bottom: 0;
	display: block !important;
	font-size: 30px;
	padding-bottom: 15px;
}
.header .panel h1 , .header .panel p, .main h2 { 
	color: #FFFFFF;  	
	display: inline-block;
	font-weight: 700;
	letter-spacing: -2px;
}
.header .panel p {
	font-size: 25px;
	margin-bottom: 0;
	color: #707070;
	line-height: 30px; 
	padding-bottom: 15px;
}

/* MAIN CONTENT RULES  */
.main { padding: 0; }
.main h2 { 
	background-color: #000000; 
	padding: 10px; 
	letter-spacing: -1px; 
	font-size: 25px; 
	margin: 0;
	margin-bottom: 15px;
	display: block !important;
}
.button {
	border: none;
	background-color: #707070;
	font-weight: 700;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.button:hover, .button:focus, .button:focus { background-color: #939393; }
.main .row { padding-top: 0; margin: 0; }
.main p {display: inline; color: #707070; }
#numberGays, #selectGay {
	color: #000;
	font-size: 14px;
	background-color: #FFF;
}

/* OUTCOME RULES  */
.outcome { 
	width: 100%;
	height: auto;
	padding: 15px;
	margin-bottom: 0;
	border: none;
}
.outcome p { color: #FFF; }

/* FOOTER */
footer { 
	text-align: center;
	margin: 10px 0;
	color: #707070;	
}
footer p { font-size: 11px;	margin: 0; }

/* MEDIA QUEERIES */
@media only screen and (min-width: 857px) {
	.main {
		text-align: center;
	}
	.header .panel h1 { 
	font-size: 60px;
	}
	.header .panel p { font-size: 40px; }
	#numberGays { 
	 	width: 74%;
		display: inline-block;  	
	}
	#selectGay { 
		width: 81%;
	}
	#numberGays, #selectGay {
		margin-left: 10px;
	}
	.outcome {
		padding: 20px;
		display: none;
	}
	.button { 
		width: 250px; 
		margin-bottom: 0;
	}
}

img#rainbow {
	height: 300px;
	z-index: 1000;
	left: -40rem;
  position: absolute;
}

