/* GLOBAL RULES  */
.row { max-width: 65rem; padding: 30px 0 20px; }
body { color: #FFF; }
.small { 
	font-size: 20px !important;
	letter-spacing: 0px !important;
}
/* HEADER RULES  */
.panel {
	border: none; 
	background-color: transparent;
	margin-bottom: 0; 
	padding: 0;
}
.header .panel h1 { 
	background-color: #000000; 
	padding: 10px; 
	margin-bottom: 0;
	font-size: 35px;
}
.header .panel h1 , .header .panel p, .main h2 { 
	color: #FFFFFF;  	
	display: inline-block;
	font-weight: 700;
	letter-spacing: -2px;
}
.header .panel p {
	font-size: 40px;
	margin-bottom: 0;
}

/* MAIN CONTENT RULES  */
.main h2 { 
	background-color: #000000; 
	padding: 10px; 
	letter-spacing: -1px; 
	font-size: 25px; 
	margin: 0;
	margin-bottom: 15px;
}
.button { 
	border: solid 4px #FFF;
	background-color: transparent;
	width: 100%;
	display: block;
	margin: 0 auto;
}
.button:hover, .button:focus, .button:focus {
    background-color: #939393; 
}
.main .row { padding-top: 0; margin: 0;}
.main p {display: inline; color: #707070;}

#numberGays, #selectGay {
	font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	color: #000;
	font-size: 14px;
	background-color: #FFF;
}

/* OUTCOME RULES  */

.outcome { 
	border: solid 2px #FFF; 
	width: 100%;
	height: auto;
	padding: 15px;
	margin-bottom: 15px;
}

/* FOOTER */
footer { 
	text-align: center;
	margin: 10px 0;
	color: #707070;
	
}

footer p { 
	font-size: 11px;
	margin: 0;
}

/* MEDIA QUEERIES */

@media only screen and (min-width: 857px) {
	.main {
		text-align: center;
	}
	#numberGays { 
	 	width: 74%;
		display: inline-block;  	
	}
	#selectGay { 
		width: 81%;
	}
	#numberGays, #selectGay {
		margin-left: 10px;
	}
	.outcome {
		padding: 30px;
		display: none;
	}
	.button { 
		width: 250px; 
		margin-bottom: 0;
	}
}


/* ALTERNATIVE CSS */
body { color: #000; }
.row { padding: 0 0 20px; }
.header { padding: 25px !important; }
.main { padding: 0; }
.main h2 { display: block !important; }
.outcome { margin-bottom: 0; }
.outcome p { color: white; }
.button { 
	border: none;
	background-color: #000;
	font-weight: 700; 
}
.button:hover, .button:focus, .button:focus {
    background-color: #939393; 
}





